.container {
  position: fixed;
  }

  .experienceCard {
    max-width: 100%;
    position: fixed;
    top: 150px;
  }
  
  .experienceHeading {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: andale mono, monospace;
    color: #ff0000;
    margin: 1rem 0;
    position: fixed;
  }
  
  .experienceCardHeading {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: andale mono, monospace;
    color: #ff0000;
    margin: 1rem 0;
    position: fixed;
  }
  
  .experienceCardSubHeading {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: andale mono, monospace;
    color: #ff000078;
    margin: 1rem 0;
    position: fixed;
  }
  
  