body {
    background-color: rgb(26, 26, 26);
    color: #cecece; /* This is a shade of green. */
    font-family: andale mono, monospace;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }

  .description {
    font-size: 1rem;
    font-family: andale mono, monospace;
    color: #cecece;
    margin: 1rem 0;
  }