.container {
  padding-top: 70px;
    margin: 1.5% 30%;
    gap: 0.5rem;
    /* border-bottom: #868aa4 1px solid; */
  }

  .projectInfo {
    max-width: 100%;
    margin: 1.5% 3%;
    gap: 0.5rem;
    /* border-bottom: #868aa4 1px solid; */
  }
  
  .projectName {
    font-size: 1.75rem;
    font-weight: 500;
    font-family: andale mono, monospace;
    color: #ff0000;
    margin: 0.75rem 0;
  }

  .projectDescription {
    font-size: 1rem;
    font-weight: 500;
    font-family: andale mono, monospace;
    color: #ffffff;
    margin: 0.1rem 0;
  }

  .projectLink {
    font-size: 1rem;
    font-weight: 200;
    font-family: andale mono, monospace;
    color: #ff0000;
    margin: 1rem 0;
  }
  